[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
radon = "*"
ipdb = "*"
ipython = "*"
pylint = "*"

[packages]
flask = "*"
python-dotenv = "*"
wikipedia = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
