{% extends "frame.html" %}
{% block content %}
        <div>
            <p class="title">Wikipedia Links</p>
            <table>
                {%- for page in pages %}
                <tr>
                <td class="wiki_title">
                    <a target="_blank" href="https://en.wikipedia.org/wiki/{{ page[0] }}">{{ page[0] }}</a>
                </td>
                <td class="wiki_snippet">
                    &hellip; {{ page[1] }}&hellip;
                </td>
                </tr>
                {%- endfor %}
            </table>
        </div>
        <div class="home">
            <a href="/">Home</a>
        </div>
{% endblock %}
