body {
    background-image: url("/static/img/brain.jpeg");
}

div.main {
    height: 100%;
}

section.sides {
    width: 15%;
    vertical-align: bottom;
    float: left;
    clear: both;
}

section.middle {
    width: 70%;
    float: left;
    background-color: white;
}

.title, div.more {
    text-align: center;
}

div.title h1, div.title h3 {
    background-color: white;
    margin: 0 30%;
    padding: 20px;
}

div.more {
    padding: 20px 0 30px 0;
}

div.index {
    padding: 20px;
}

div.index {
    text-align: justify;
}

section.middle p {
    background-color: white;
    padding: 20px;
    margin: 0;
}

textarea {
    width: 95%;
    height: 150px;
    margin: 20px;
    resize: none;
    word-wrap: normal;
}

div.button {
    text-align: center;
}

input {
    margin: 20px auto;
}

table {
    border: none;
}

td {
    vertical-align: top;
    padding: 10px 20px 10px 20px;
}

.wiki_title {
    width: 10%;
}

div.home {
    text-align: center;
    margin-top: 20px;
}
