div.main {
    alignment: center;
}

div.sides {
    width: 15%;
    float: left;
    padding-bottom: 10%;
}

div.middle {
    width: 70%;
    float: left;
    background-image: url("/static/img/brain.jpeg")
}

div.title, div.more {
    text-align: center;
}

div.title h1, div.title h3, div.more {
    background-color: white;
    margin: 0 30%;
    padding: 10px;
}

div.middle p {
    background-color: white;
    padding: 20px;
}

textarea {
    width: 80%;
    height: 150px;
    margin: 20px 10% 0 10%;
}

div.button {
    text-align: center;
}

input {
    margin: 20px auto;
}
